$white: #ffffff;
@media screen and (max-width: 1290px) {
  .our-clients_list_item_client {
    display: block;
    width: 144px;
    padding: 31px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
}

@media screen and (max-width: 1088px) {
  .container {
    margin: 0 15px;
  }
  .content-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-areas: " content content ";
  }

  .our-clients {
    &_description {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_title {
        max-width: max-content;
      }
      &_info {
        margin: 15px auto;
        text-align: center;
      }
    }
    &_list {
      &_item {
        border: none;
        border-bottom: 1px solid $white;
        &_client {
          width: 230px;
        }
      }
      &_item:nth-child(2n) {
        border-left: 1px solid $white;
      }
      &_item:last-child {
        background: rgba(31, 63, 104, 0.2);
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .btn {
    width: 150px;
  }

  .content-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-areas: " content ";
  }
  .line {
    width: 99%;
    margin: 20px 0;
  }

  .interested {
    &_description {
      flex-direction: column;
      &_info {
        text-align: center;
        &_title {
          max-width: max-content;
        }
      }
    }
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-info {
    max-width: max-content;
    margin: 0 auto;
  }

  .main-screen {
    min-height: 562px;
    background-image: none;
  }
  .new-automation {
    margin: 40px 0;
    &_info {
      max-width: 100%;
      &_title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
      }
      &_text {
        max-width: 100%;
        text-align: center;
      }
      &-btn {
        margin: 20px auto;
      }
    }
  }
  .our-help {
    margin: 15px 0;
    &_title {
      width: auto;
      font-size: 25px;
      text-align: center;
    }
    &_list {
      grid-template-columns: 1fr;
      &_item {
        width: auto;
        max-height: 550px;
        padding: 48px;
        margin: 20px auto;
        &__card {
          &_link {
            margin: 15px 0;
          }
          &_img {
            width: 180px;
            height: 130px;
          }
        }
      }
      &_item:first-child {
        width: auto;
        margin: 0 auto;
      }
      &_item:nth-child(3) {
        transform: translate(0);
      }
    }
  }

  .wrappep_our-clients {
    border-radius: 0;
  }

  .our-clients {
    &_description {
      margin: 35px 0;
      &_title {
        font-size: 30px;
        max-width: max-content;
      }
      &_info {
        margin: 15px auto;
        text-align: center;
      }
    }
    &_list {
      &_item {
        width: 100%;
        margin: auto;
        border: none;
        border-bottom: 1px solid $white;
        &_client {
          width: 100%;
          padding: 46px 0;
          text-align: center;
        }
      }
      &_item:nth-child(2n) {
        border-left: none;
      }
    }
  }

  .wrappep_interested {
    width: 100%;
    border-radius: 0;
  }

  .footer {
    align-items: stretch;
  }
  .site-map_about-us,
  .site-map_follow-us {
    margin: 0 auto;
  }
}
